@use "sass:map";
@import './variable';

@mixin flexSpaceBeetween{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

@mixin gradientLine {
  height: 3px;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
  margin-bottom: 15px;
}

@mixin mq($key) {
    @if map.has-key($breakpoints, $key) {
      $size: map.get($breakpoints, $key);
  
      @media (max-width: ($size - 1)) {
        @debug "Max-width media query for #{$key} applied.";
        @content;
      }
    } @else {
      @media (min-width: 1px) {
        @debug "Min-width media query fallback applied for #{$key}.";
        @content;
      }
    }
  }