$primary: black;
$secondary: white;
$third: purple;
$gradiente: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);


$breakpoints : (
  s: 576px,
  m: 768px,
  l : 992px,
  xs: 1250px,
);