@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  flex-flow: row wrap;
  position: fixed;
  padding: 5px 100px;
  width: 90%;
  opacity: 0.8;
}
@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }
}
header .top-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .logo {
  order: 1;
}
header .mobile-menu {
  display: "flex";
}
header .hidden {
  display: none;
}
header .menu-button {
  display: none;
  background-color: black;
  border: none;
  justify-content: center;
}
header .menu-button:hover {
  background-color: purple;
}
header .menu-button:active {
  width: 70px;
  background-color: darkviolet;
}
@media (max-width: 1249px) {
  header .menu-button {
    display: flex;
    order: 2;
  }
}
header nav {
  width: 50%;
  display: flex;
  margin: auto;
  min-height: -moz-max-content;
  min-height: max-content;
  order: 1;
  flex-direction: column;
}
@media (max-width: 1249px) {
  header nav {
    order: 4;
    flex-grow: 1;
    width: 70%;
  }
}
header nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  color: white;
}
@media (max-width: 1249px) {
  header nav ul {
    flex-direction: column;
  }
}
header nav ul li {
  display: flex;
  align-items: center;
  height: 40px;
}
header nav ul li:hover {
  background-color: purple;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}
header div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 3;
}
@media (max-width: 575px) {
  header div .contact-button {
    display: none;
  }
}
header div button {
  display: flex;
  align-items: center;
  border-radius: 16px;
  height: 40px;
  justify-content: space-evenly;
  opacity: 0.8;
  width: 65px;
}

.home-container {
  background-color: black;
  height: 650px;
  padding-top: 100px;
}
@media (max-width: 1249px) {
  .home-container {
    flex-direction: column;
    height: -moz-min-content;
    height: min-content;
  }
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1249px) {
  section {
    flex-direction: column;
    height: -moz-min-content;
    height: min-content;
  }
}
section .right-container {
  display: flex;
  width: 50%;
  align-self: flex-end;
  align-items: flex-end;
}
@media (max-width: 1249px) {
  section .right-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
}
section .right-container img {
  width: 700px;
  height: 500px;
  justify-self: flex-end;
  opacity: 0.8;
}
@media (max-width: 767px) {
  section .right-container img {
    width: 100%;
  }
}
section .left-container {
  display: flex;
  width: 50%;
  justify-content: center;
  color: white;
}
@media (max-width: 1249px) {
  section .left-container {
    width: 100%; /* Altere para ocupar 100% na versão móvel */
  }
}
section .left-container .text-container {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 500px;
}
@media (max-width: 1249px) {
  section .left-container .text-container {
    margin-top: 100px;
    height: auto;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  section .left-container .text-container {
    margin-top: 100px;
    height: auto;
    align-items: center;
    font-size: 5px;
  }
}
section .left-container .text-container h1 {
  font-family: "Exo";
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  margin-bottom: 25px;
}
section .left-container .text-container .line {
  height: 3px;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
  margin-bottom: 15px;
  width: 190px;
}
section .left-container .text-container h2 {
  font-family: "Exo";
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  section .left-container .text-container h2 {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }
}
section .left-container .text-container p {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  section .left-container .text-container p {
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    width: 80%;
  }
}
section .left-container .text-container button {
  background-color: purple;
  border: none;
  height: 58px;
  width: 300px;
  color: white;
  font-family: "Orbitron";
  font-weight: 900;
  font-size: 20px;
  text-transform: capitalize;
}
section .left-container .text-container button:hover {
  background-color: rgb(100, 11, 100);
}
section .left-container .text-container button:active {
  background-color: rgb(174, 53, 174);
}
@media (max-width: 1249px) {
  section .left-container .text-container button {
    margin-bottom: 25px;
  }
}
section .right-gradient-circle {
  position: absolute;
  width: 340px;
  height: 480px;
  border-radius: 50% 0 0 50%;
  right: 0;
  top: 350px;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(240, 28, 255, 0.6) 36.9%, rgba(38, 255, 0, 0.6) 67.4%, rgba(195, 0, 255, 0.6) 100%);
  opacity: 0.3;
  overflow: hidden;
  filter: blur(50px);
}
@media (max-width: 991px) {
  section .right-gradient-circle {
    top: 300 px;
  }
}
section .left-gradient-circle {
  position: absolute;
  width: 480px;
  border-radius: 50%;
  height: 480px;
  left: -150px;
  top: -125px;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
  opacity: 0.3;
  overflow: hidden;
  filter: blur(50px);
}
@media (max-width: 991px) {
  section .left-gradient-circle {
    z-index: -1;
  }
}

.about-container {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 650px;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 90%, rgba(0, 0, 0, 0.99) 90.54%), url("../assets/imgs/code-bg.jpg");
}
@media (max-width: 767px) {
  .about-container {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .about-container {
    padding-top: 100px;
  }
}
.about-container .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
.about-container .title-container h3 {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .about-container .title-container h3 {
    font-size: 35px;
  }
}
.about-container .title-container .line-about {
  height: 3px;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
  margin-bottom: 15px;
  width: 500px;
}
@media (max-width: 575px) {
  .about-container .title-container .line-about {
    width: 300px;
  }
}
.about-container .text-container {
  width: 1200px;
  height: 120px;
  text-align: center;
}
@media (max-width: 1249px) {
  .about-container .text-container {
    width: 700px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 991px) {
  .about-container .text-container {
    width: 700px;
  }
}
@media (max-width: 767px) {
  .about-container .text-container {
    width: 500px;
  }
}
@media (max-width: 575px) {
  .about-container .text-container {
    width: 250px;
  }
}
.about-container .text-container p {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
@media (max-width: 575px) {
  .about-container .text-container p {
    font-size: 15px;
  }
}
.about-container .functions-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1249px) {
  .about-container .functions-container {
    margin-top: 50px;
  }
}
.about-container .functions-container ul {
  list-style: none;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 575px) {
  .about-container .functions-container ul {
    flex-direction: column;
  }
}
.about-container .functions-container ul li {
  display: flex;
  justify-content: space-between;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  text-transform: capitalize;
}
@media (max-width: 575px) {
  .about-container .functions-container ul li {
    margin-bottom: 10px;
  }
}
.about-container .functions-container ul li .ball {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
  margin-right: 20px;
}

#projects {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: black;
  color: white;
  font-family: "Exo";
}
@media (max-width: 767px) {
  #projects {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  #projects {
    padding-top: 100px;
  }
}
#projects h3 {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  #projects h3 {
    font-size: 35px;
  }
}
#projects .line-projects {
  height: 3px;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
  margin-bottom: 15px;
  width: 500px;
  margin-bottom: 80px;
}
@media (max-width: 575px) {
  #projects .line-projects {
    width: 300px;
  }
}
#projects .projects-preview {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-around;
  min-height: -moz-fit-content;
  min-height: fit-content;
  opacity: 1;
  transition: opacity 0.7s ease;
}
#projects .change-projects {
  opacity: 0.2;
}
#projects .arrow-projects {
  font-size: 50px;
  color: white;
  background-color: black;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 30%;
  background-color: rgb(43, 43, 43);
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .card {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .card {
    width: 60%;
  }
}
@media (max-width: 575px) {
  .card {
    width: 90%;
  }
}
.card img {
  border-radius: 20px 20px 0 0;
  height: 60%;
}
.card .icon-link {
  display: flex;
  align-self: self-end;
  margin-right: 10px;
  margin-bottom: 5px;
}
.card .icon-link .icon {
  font-size: 25px;
  margin-right: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.card .icon-link .icon:hover {
  color: rgba(98, 255, 0, 0.6);
}
.card h2 {
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .project-description {
  margin-bottom: 12px;
}
.card .info-project {
  padding-left: 10px;
}
.card .info-project .tools-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card .info-project .tools-container .stack-name {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  border-radius: 200px;
  border: 1px solid #808080;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 6px;
  margin-right: 5px;
}
.card .info-project .tools-container .stack-name .icon-stack {
  padding-top: 5px;
  margin-right: 2px;
  font-size: 22px;
}
.card:hover {
  border: 10px solid purple;
}

.stacks-container {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-top: 60px;
  background-color: black;
  justify-content: space-evenly;
  font-family: "Exo";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 70%, rgba(0, 0, 0, 0.99) 80.54%), url("../assets/imgs/backpurple.jpg");
  background-position: center;
  font-size: 25px;
}
.stacks-container .end-divisor {
  height: 3px;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
  margin-bottom: 15px;
  width: 80%;
  height: 50px;
  opacity: 0.7;
}
.stacks-container .top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stacks-container .top-container h3 {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .stacks-container .top-container h3 {
    font-size: 35px;
  }
}
.stacks-container .top-container .line-stacks {
  height: 3px;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
  margin-bottom: 15px;
  width: 500px;
  margin-bottom: 60px;
}
@media (max-width: 575px) {
  .stacks-container .top-container .line-stacks {
    width: 300px;
  }
}
.stacks-container .card-stacks-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 65%;
  height: 100%;
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .stacks-container .card-stacks-container {
    flex-direction: column;
  }
}
.stacks-container .card-stacks-container .card-stacks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: purple;
  opacity: 0.7;
  width: 30%;
  height: 550px;
}
@media (max-width: 991px) {
  .stacks-container .card-stacks-container .card-stacks {
    width: 100%;
    margin-bottom: 20px;
  }
}
.stacks-container .card-stacks-container .card-stacks div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
@media (max-width: 1249px) {
  .stacks-container .card-stacks-container .card-stacks div {
    font-size: 20px;
  }
}
.stacks-container .card-stacks-container .card-stacks div .icon {
  height: 30px;
  font-size: 35px;
  margin-left: 10px;
}
@media (max-width: 1249px) {
  .stacks-container .card-stacks-container .card-stacks div .icon {
    height: 20px;
    font-size: 25px;
    margin-left: 5px;
  }
}
@media (max-width: 991px) {
  .stacks-container .card-stacks-container .card-stacks div .icon {
    height: 20px;
    font-size: 20px;
  }
}
.stacks-container .card-stacks-container .card-stacks div:hover {
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(90deg, rgb(151, 0, 255) 0%, rgb(247, 28, 255) 36.9%, rgb(39, 184, 51) 67.4%, rgb(98, 255, 0) 100%);
}
.stacks-container .card-stacks-container h4 {
  font-size: 35px;
  align-self: center;
  text-transform: uppercase;
}

.contacts-container {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: black;
  color: white;
  font-family: "Exo";
  padding-top: 50px;
}
.contacts-container h3 {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .contacts-container h3 {
    font-size: 35px;
  }
}
.contacts-container .line-contacts {
  height: 3px;
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
  margin-bottom: 15px;
  width: 500px;
  width: 50%;
  margin-bottom: 45px;
}
@media (max-width: 575px) {
  .contacts-container .line-contacts {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .contacts-container {
    padding-top: 50px;
  }
}
.contacts-container .forms-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-transform: uppercase;
  font-size: 20px;
}
.contacts-container .forms-container .label-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacts-container .forms-container .label-message textarea {
  display: flex;
  font-size: 18px;
  text-align: center;
  background-color: black;
  border: 1px solid #212121;
  font-family: "Exo";
  color: white;
  width: 70%;
  padding: 10px;
  margin-bottom: 30px;
}
.contacts-container .forms-container .label-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}
.contacts-container .forms-container .label-top input {
  font-size: 18px;
  background-color: black;
  border: 1px solid #212121;
  text-align: center;
  font-family: "Exo";
  color: white;
  width: 65%;
  padding: 10px;
}
.contacts-container .forms-container .forms-top-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=index.css.map */