body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 25px;
  background-color: #49515a;
  text-align: center;
}

a {
  text-decoration: none;
  color: #a6c9cf;
}
#header a {
    color: #6f8a93;
    text-align: right;
  }

#header a {
  color: #6f8a93;
  text-align: right;
}

#header{
    background-color: #202d31;
    height: 35px;
    width: 100%;
}
.links {
  display: inline-block;
  list-style-type: none;
  padding-right: 4px;
}

.links li{
    position: relative;
    display: inline-block;
    padding-right: 10px;
}
