/*geral*/
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 30px;
  background-color: #b6c1d8;
  text-align: center;
}

a {
  text-decoration: none;
  color: #f3f2f6;
}

ul {
  list-style-type: none;
}
/*Cabeçalho*/
#header {
  width: 100%;
  background-color: #202630;
  margin-bottom: 20px;
  height: 50px;
  font-size: 15px;
}

#nav {
  position:absolute;
  top: 10px;
  right: 80px;
    
}
#nav ul{
  height: 100%;
}
#nav li { 
  display: inline;
  border-left: 3px solid #6c707e;
  font-weight: bold;
  padding: 16px 5px;
}
#nav li:last-of-type {
  border-right: 3px solid #6c707e ;
}

#nav li:hover {
  background-color: #b6c1d8;
}
#nav a:hover{
  color: #000;
}
#nav li:active {
  background-color: #6c707e;
}
/*
.links {
  display: inline-block;
  padding-right: 4px;
}
/*
.links li {
  position: relative;
  display: inline-block;
  padding-right: 10px;
}

.links .button {
  background-color: #a6c9cf;
  border-radius: 16px;
  padding: 10px;
}

img {
  border-radius: 50% 15px;
}

h1 {
  font-family: "Concert One";
  color: #a6c9cf;
}
strong {
  color: #202d31;
}

em {
  color: #6f8a93;
}

ul {
  list-style-type: none;
}
