.card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 30%;
  background-color: rgb(43, 43, 43);
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
  @include mq(l) {
    width: 40%;
  }
  @include mq(m) {
    width: 60%;
  }
  @include mq(s) {
    width: 90%;
  }
  img {
    border-radius: 20px 20px 0 0;
    height: 60%;
  }
  .icon-link {
    display: flex;
    align-self: self-end;
    margin-right: 10px;
    margin-bottom: 5px;
    .icon{
      font-size: 25px;
      margin-right: 5px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      &:hover {
        color: #62ff0099;
      }
    }
  }
  h2 {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .project-description{
    margin-bottom: 12px;
  }
  .info-project {
    padding-left: 10px;
    .tools-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      margin-bottom: 15px;
      .stack-name {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        border-radius: 200px;
        border: 1px solid #808080;
        width: fit-content;
        margin-bottom: 6px;
        margin-right: 5px;
        .icon-stack {
          padding-top: 5px;
          margin-right: 2px;
          font-size: 22px;
        }
      }
    }
  }
  &:hover{
    border: 10px solid $third;
  }
}