@import '../mixin';

header {
  @include flexSpaceBeetween();
  background-color: $primary;
  flex-flow: row wrap;
  padding: 5px 50px;
  border-bottom: 1px solid grey;
  @include mq(l) {
    padding: 0 20px;
  }

  .top-header {
    @include flexSpaceBeetween();
  }

  .logo {
    order: 1;
  }

  .mobile-menu {
    display: flex;
    @include mq(xs) {
      display: flex;
      order: 2;
    }
  }

  .hidden {
    display: flex;
  }

  .menu-button {
    display: none;
    background-color: black;
    border: none;
    justify-content: center;
    &:hover {
      background-color: $third;
    }
    &:active {
      width: 70px;
      background-color: darkviolet;
    }
    @include mq(xs) {
      display: flex;
      order: 2;
    }
  }

  nav {
    width: 60%;
    display: flex;
    justify-content: center;
    min-height: max-content;
    order: 1;
    /* flex-direction: row;  // Esta linha é redundante */
    @include mq(xs) {
      display: none;
      flex-grow: 1;
      width: 70%;
      order: 4;
    }
    ul {
      display: flex;
      justify-content: space-between;  // Remova esta linha
      align-items: flex-start;
      list-style: none;
      color: $secondary;
        @include mq(xs) {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: $primary;
      }
      li {
        display: flex;
        align-items: center;
        margin: 48px  ;
        &:hover {
          background-color: $third;
        }
        a {
          color: $secondary;
          text-decoration: none;
          font-size: 18px;
          font-family: "Orbitron", sans-serif;
          font-weight: bold;
        }
      }
    }
  } 

  div {
    @include flexSpaceBeetween();
    order: 3;

    .contact-button {
      @include mq(s) {
        display: none;
      }
    }

    button {
      display: flex;
      align-items: center;
      border-radius: 16px;
      height: 40px;
      justify-content: space-evenly;
      opacity: 0.8;
      width: 65px;
    }
  }
}