section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  background-color: black;
  @include mq(xs){
    flex-direction: column;
    height: min-content;
  }

  .right-container  {
    display: flex;
    width: 50%;
    align-self: flex-end;
    align-items: flex-end;
    @include mq(xs){
      width: 100%; 
      justify-content: center;
    }
    img {
      width: 700px;
      height: 500px;
      justify-self: flex-end;
      opacity: 0.8;
      @include mq(m){
        width: 100%; /* Altere para ocupar 100% na versão móvel */
      }
    }
  }

  .left-container {
    display: flex;
    width: 50%;
    justify-content: center;
    color: white;
    @include mq(xs){
      width: 100%; /* Altere para ocupar 100% na versão móvel */
    }
    .text-container {
      display: flex;
      flex-direction: column;
      height: 450px;
      width: 500px;
      @include mq(xs){
        margin-top: 100px;
        height: auto;
        align-items: flex-start;
      }
      @include mq(m){
        margin-top: 100px;
        height: auto;
        align-items: center;
        font-size: 5px;
      }
      h1 {
        font-family: 'Exo';
        font-weight: bold;
        font-size: 25px;
        line-height: 20px;
        margin-bottom: 25px;
      }
      .line {
        width: 190px;
        height: 3px;
        background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
        margin-bottom: 15px;
      }
      h2 {
        font-family: 'Exo';
        font-weight: 700;
        font-size: 80px;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 25px;
        @include mq(m){
          font-size: 35px;
          line-height: 35px;
          text-align: center;
        }
      }
      p {
        font-family: 'Exo';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 20px;
        @include mq(m){
          font-size: 16px;
          line-height: 15px;
          text-align: center;
          width: 80%;
        }
      }

      button {
        background-color: $third;
        border: none;
        height: 58px;
        width: 300px;
        color: $secondary;
        font-family: 'Orbitron';
        font-weight: 900;
        font-size: 20px;
        text-transform: capitalize;
        &:hover {
          background-color: rgb(100, 11, 100);
        }
        &:active {
          background-color: rgb(174, 53, 174);
        }
        @include mq(xs){
          margin-bottom: 25px;
        }
      }
    }
  }
  
  .right-gradient-circle {
    position: absolute;
    width: 340px;
    height: 480px;
    border-radius: 50% 0 0 50%;
    right: -0;
    top: 350px;
    background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(240, 28, 255, 0.6) 36.9%, rgba(38, 255, 0, 0.6) 67.4%, rgba(195, 0, 255, 0.6) 100%);
    opacity: 0.3;
    overflow: hidden;
    filter: blur(50px);
    @include mq(l){
      top: 300px;
    }
  }

  .left-gradient-circle {
    position: absolute;
    width: 480px;
    border-radius: 50%;
    height: 480px;
    left: -150px;
    top: -125px;
    background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(247, 28, 255, 0.6) 36.9%, rgba(39, 184, 51, 0.6) 67.4%, rgba(98, 255, 0, 0.6) 100%);
    opacity: 0.3;
    overflow: hidden;
    filter: blur(50px);
    @include mq(l){
      z-index: -1;
    }
  }
}
