#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary;
  min-height: fit-content;
  color: $secondary;
  h3 {
    @include titleSection();
  }
  .line-projects{
    @include divisor();
  }
  .projects-preview{
    display: flex;
    width: 70%;
    justify-content: space-around;
  }
}
