.stacks-container {
  @include sectionPattern();
  padding-top: 60px;
  background-color: black;
  justify-content: space-evenly;
  font-family: 'Exo';
  font-size: 25px;
  .end-divisor {
    @include gradientLine();
    width: 80%;
    height: 50px;
    opacity: 0.7;
  }

  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      @include titleSection();
      margin-bottom: 25px;
    }

    .line-about {
      @include divisor();
      margin-bottom: 60px;

    }
  }

  .card-stacks-container {
    display: flex;
    justify-content: space-around; // Correção aqui
    text-align: center;
    width: 65%;
    height: 100%;
    margin-bottom: 100px;
    @include mq(l) {
      flex-direction: column;
     }
    
  
    .card-stacks {
      display: flex;
      flex-direction: column;
      justify-content: space-around; // Correção aqui
      background-color: $third;
      opacity: 0.7;
      width: 30%;
      height: 550px;
      @include mq(l){
        width: 100%;
        margin-bottom: 20px;
       }
  
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid grey;
        @include mq(xs){
          font-size: 20px;
        }
  
        .icon {
          height: 30px;
          font-size: 35px;
          margin-left: 10px;
          @include mq(xs){
            height: 20px;
            font-size: 25px;
            margin-left: 5px;
          }
          @include mq(l){
            height: 20px;
            font-size: 20px;
          }
        }
  
        &:hover {
          font-size: 30px;
          font-weight: 600;
          background: linear-gradient(90deg, rgba(151, 0, 255, 1) 0%, rgba(247, 28, 255, 1) 36.9%, rgba(39, 184, 51, 1) 67.4%, rgba(98, 255, 0, 1) 100%);
        }
      }
    }
    h4 {
      font-size: 35px;
      align-self: center;
      text-transform: uppercase;
    }
  }
}