.stacks-container {
  @include sectionPattern();
  background-color: black;
  height: 650px;
  h3 {
    @include titleSection();
  }
  .line-about {
    @include divisor();
  }
  .card-stacks-container {
    @include flexSpaceBeetween();
    background-color: chartreuse;
  }
}